In [1]:
import pyarrow
import pyarrow.dataset as ds
import pyarrow.parquet as pq

In [2]:
dataset = ds.dataset("file:///mnt/cephfs/nyc", 
                     format=ds.SkyhookFileFormat("parquet", 
                                                 "/opt/ceph/ceph.conf",
                                                 "cephfs-data0"))

In [3]:
dataset.to_table(columns=["total_amount", "fare_amount"], filter=(ds.field("trip_distance") > 20.0)).to_pandas()

     total_amount  fare_amount
0           75.84        52.00
1           69.99        52.00
2           59.84        53.00
3           68.50        53.50
4           70.01        52.00
..            ...          ...
376         78.88        67.00
377         64.84        58.50
378          0.31         0.01
379         58.80        57.50
380        229.80       228.50

[381 rows x 2 columns]